.container {
  display: grid;

  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;

  grid-template-areas: 
  "header header"
  "sidebar content";
} 

.header {
  grid-area: header;
  background-color: antiquewhite;
}

.sidebar {
  background-color: blueviolet;
  grid-area: sidebar;
}

.container {
  background-color: aliceblue;
  grid-area: container;
}